

.wrapper h1 {
text-align: center;
}
.wrapper h3{
    color:black

 
}
.container-fluid{
    max-width: 1200px;
    margin: auto;
}
.container {
   width: 100%;
   height: auto;
   background-color:aquamarine;
   padding: 10px;
margin-top: auto;
border-radius: 20px;
border: 1px solid black;
}

input[type="text" i] {
    width: 99%;
    height: 25px;
    border-radius: 4px;
    color: black;
  
}
input[type="submit" i]{
    height: 30px;
    width: 5%;
   margin-top: 5px;
   border-radius: 4px;
  background-color: white;
}
.book-list{
   display: flex;
   flex-direction: row;
   gap: 15px;
   flex-wrap: wrap;
}